body {
  background: #1a1b1d;
  color: #fff; }

#hero {
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  background-position: 0 60%; }

.navbar {
  width: 100%;
  background: none !important; }
  @media (max-width: 34em) {
    .navbar {
      background: black !important; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link {
        font-weight: normal;
        color: #fff !important; } }

h1 {
  font-weight: bold;
  font-size: 3.5em; }

.hero-img {
  width: 80%; }

.feature-wrapper {
  background-color: #00ffc4;
  color: black;
  font-weight: bold; }

.btn {
  background-color: #00ffc4;
  color: black;
  font-weight: bold; }

#join-container {
  background: url("screen1.jpg") no-repeat;
  background-size: cover; }
  #join-container h2 {
    letter-spacing: 6px;
    font-weight: bolder; }
  #join-container h4 {
    color: slategray;
    letter-spacing: 4px;
    font-weight: bold; }
  #join-container .form-control {
    background: #111111;
    border: 5px solid silver;
    padding: 10px; }
  #join-container .btn {
    color: #111;
    border: none;
    padding: 15px;
    cursor: pointer; }
